<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} Trabajo Práctico III {% endblock %}</title>
    {%load static %}
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
</head>

<body>   

    <header>
        <nav class="navbar">
            </nav>
    
        <div class="header-titulo">
            </div>
    
        <div class="usuario">
            {% if user.is_authenticated %}
                Hola {{ user.username|capfirst }}
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
            {% else %}
                Hola anónimo/a
                <a href="{% url 'login' %}">Iniciar Sesión</a>
            {% endif %}
            <br><br>    
            <a href="{% url 'registro' %}">¿No tienes una cuenta? Ingresa aquí</a>
        </div>
    </header>

    {% include "navbar.html" %}
    

    <div class="content">
        {%block content%}{%endblock%}
    </div>

    <br><br><br>

    <footer>
        <i>&copy Music Copyright. All rights reserved.</i>
    </footer>

</body>


</html>