{% extends "base.html" %}

{% block title %}Inicio Blog Musical{%endblock%}

{% block header %}{{ form.media }}{% endblock %}


{% block content %}

    <h2>{{ blog.titulo }}</h2>
    <p><b>{{ blog.autor.username|capfirst }}</b></p>
    <p>{{ blog.texto|safe }}</p> 
    <p><br><b><i>Creado</b> {{ blog.fechaCreado}}</i></p>                   <!--descripción detallada del post seleccionado-->


    
    <!--sección de comentarios-->
    {% if comentarios %}
    <h2>Comentarios</h2>
        <ul>
            {% for comentario in comentarios %}
                <li><b>{{ comentario.autor|capfirst }}</b>: {{ comentario.texto }} <br><b><i>Enviado</i></b> {{ comentario.fechaCreado}}</li>
            {% endfor %}
        </ul>
    {% endif %}

<h5>Deja un comentario</h5>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar</button>
</form>

{% endblock %}
