{% extends "base.html" %}
{% block header %}{% endblock %}

{% block content %}
<h1>Confirmar Eliminación</h1>

<p>¿Estás seguro de que deseas eliminar los siguientes posts?</p>

<ul>
    {% for post in posts_seleccion %}
    <li>
        <h2>{{ post.titulo }}</h2>
        <p><b>Autor</b> {{ post.autor.username|capfirst }}</p>
        <p>{{ post.texto|safe }}</p> 
        <p><br><b><i>Creado</b> {{ post.fechaCreado}}</i></p>               <!--Información del post, o los posts, a eliminar-->
    </li>
    {% endfor %}
</ul>





<form method="post">
    {% csrf_token %}
    {% for post in posts_seleccion %}
        <input type="hidden" name="seleccion" value="{{ post.pk }}">
    {% endfor %}
    <button type="submit" name="confirmar_eliminacion" value="true">Confirmar</button>
</form>

{% endblock %}
