{%extends 'base.html'%}

{% block title %} Tus Posts {%endblock%}

{%block header%}<h1>Tu magia</h1>{%endblock%}


{% block content %}
<h1>Mis Posts</h1>

<form method="post">
    {% csrf_token %}
    <ul>
        {% for post in object_list %}
        <li>
            <input type="checkbox" name="seleccion" value="{{ post.pk }}">
            {{ post.titulo }}
        </li>
        {% endfor %}
    </ul>
    <button type="submit" name="confirmar_eliminacion" value="true">Eliminar seleccionados</button>
</form>

{% endblock %}
