{%extends 'base.html'%}

{% block title %} Blog completo {%endblock%}

{%block header%}<h1>🎼♫🎸♪♬Bienvenidos/as al blog musical</h1>{%endblock%}

{% block content %}
    <h2>Muro</h2>
    {% for blog in object_list %}
    <ul>
        <li>
            <b>{{ blog.autor.username|capfirst }}</b>
            <br><i>Título:</i> <b>{{ blog.titulo }}</b> 
            <br><br>{{ blog.texto|safe }}<br><br><br>
        </li>
    </ul>
    {% empty %}
        <p>No hay posts disponibles.</p>
    {% endfor %}
{% endblock %}