{%extends 'base.html'%}

{% block title %} Blog completo {%endblock%}

{%block header%}<h1>🎼♫🎸♪♬Bienvenidos/as al blog musical</h1>{%endblock%}

{% block content %}
    <h2>Muro del Blog</h2>
    <ul>
        {% for blog in object_list %}
            <li>
                <a href="{% url 'blog_contenido' blog.slug %}">
                    <h2><b>{{ blog.titulo }}</b></h2> 
                </a>    
                    <span class="author"><b>{{ blog.autor.username|capfirst }}</b></span>               
                    <br>
                    <span class="fecha">Fecha de creación: {{ blog.fechaCreado }}</span>
                
            </li>
        {% empty %}
            <p>No hay posts disponibles.</p>
        {% endfor %}
    </ul>


    
    <!--Paginación-->

    {% if page_obj.has_other_pages %}
    <div class="paginacion">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            <a href="?page={{ num }}" class="{% if num == page_obj.number %}active{% endif %}">{{ num }}</a>
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        {% endif %}
    </div>
    {% endif %}
    
{% endblock %}